[submodule "guests/deltaOS"]
	path = guests/deltaOS
	url = https://www.github.com/yuvraj1803/deltaOS.git
[submodule "guests/--force"]
	path = guests/--force
	url = https://www.github.com/yuvraj1803/deltaOS.git
